*{
    background-color: rgb(172, 151, 126);
}

h1{
    text-align: center;
}

.galeria5{
    height: 350px;
    width: 290px;
    margin:1em auto;
    border: 5px solid cornflowerblue;
    position: relative;
}

.galeria5 img{
    position:absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: opacity 3s;
}

.galeria5 input[type=radio]{
    position: relative;
    top:320px;
    margin-left: 44px;
    
}

.galeria5 input[type=radio]:nth-of-type(1):checked ~img:nth-of-type(1) {opacity:1;}
.galeria5 input[type=radio]:nth-of-type(2):checked ~img:nth-of-type(2) {opacity:1;}
.galeria5 input[type=radio]:nth-of-type(3):checked ~img:nth-of-type(3) {opacity:1;}
.galeria5 input[type=radio]:nth-of-type(4):checked ~img:nth-of-type(4) {opacity:1;}